a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
}

body {
  display:flex;
  margin:0;
  width:100vw;
  height:100vh;
  justify-content:center;
  align-items:center;
  background:#262626;
  font-family: 'Rubik', sans-serif;
}

canvas {
  width:16.5cm;
  height:24cm;
}
